.our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-clients-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--header-second-color);
}

.our-clients-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-clients-link {
    width: 170px;
    height: 92px;
    margin-top: 50px;
}

.our-clients-link:not(:last-child) {
    margin-right: 30px;
}

.client-logo-link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    fill: rgba(175, 177, 184, 1);
    background-color: transparent;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo-icon {
    fill: inherit;
    background-color: inherit;
}

.client-logo-link:focus,
.client-logo-link:hover {
    border: 1px solid rgba(33, 150, 243, 1);
    fill: #2196F3;
    border-radius: 4px;
    background-color: inherit;
    outline: none;
}